[submodule "Integrated-Path/bi_print_journal_entries"]
	path = Integrated-Path/bi_print_journal_entries
	url = git@github.com:Integrated-Path/bi_print_journal_entries.git
	branch = master

[submodule "Integrated-Path/invoice_summary_report"]
	path = Integrated-Path/invoice_summary_report
	url = git@github.com:Integrated-Path/invoice_summary_report.git
	branch = 15.0

[submodule "Integrated-Path/add_account_receive_invoice"]
	path = Integrated-Path/add_account_receive_invoice
	url = git@github.com:Integrated-Path/add_account_receive_invoice.git
	branch = master

[submodule "Integrated-Path/naseem_warth"]
	path = Integrated-Path/naseem_warth
	url = git@github.com:Integrated-Path/naseem_warth.git
	branch = master

[submodule "Integrated-Path/product_movement_report"]
	path = Integrated-Path/product_movement_report
	url = git@github.com:Integrated-Path/product_movement_report.git
	branch = master

[submodule "Integrated-Path/payment_journal_receipt"]
	path = Integrated-Path/payment_journal_receipt
	url = git@github.com:Integrated-Path/payment_journal_receipt.git
	branch = master

[submodule "Integrated-Path/expense_report_journal"]
	path = Integrated-Path/expense_report_journal
	url = git@github.com:Integrated-Path/expense_report_journal.git
	branch = master

[submodule "Integrated-Path/account_customisations"]
	path = Integrated-Path/account_customisations
	url = git@github.com:Integrated-Path/account_customisations.git
	branch = master

[submodule "Integrated-Path/report_stock_inventory"]
	path = Integrated-Path/report_stock_inventory
	url = git@github.com:Integrated-Path/report_stock_inventory.git
	branch = 15.0

[submodule "Integrated-Path/stock_field"]
	path = Integrated-Path/stock_field
	url = git@github.com:Integrated-Path/stock_field.git
	branch = master

[submodule "Integrated-Path/report_xlsx"]
	path = Integrated-Path/report_xlsx
	url = git@github.com:Integrated-Path/report_xlsx.git
	branch = 15.0

[submodule "Integrated-Path/restrict_quantity"]
	path = Integrated-Path/restrict_quantity
	url = git@github.com:Integrated-Path/restrict_quantity.git
	branch = master

[submodule "Integrated-Path/transfer_approval"]
	path = Integrated-Path/transfer_approval
	url = git@github.com:Integrated-Path/transfer_approval.git
	branch = master

[submodule "Integrated-Path/dev_user_location_access"]
	path = Integrated-Path/dev_user_location_access
	url = git@github.com:Integrated-Path/dev_user_location_access.git
	branch = master
